aws_region  = "us-east-1"
environment = "dev"

bedrock_model_id   = "amazon.nova-micro-v1:0"
bedrock_model_arns = ["arn:aws:bedrock:us-east-1::foundation-model/amazon.nova-micro-v1:0"]

web_image_tag         = "initial"
anomaly_image_tag     = "initial"
web_desired_count     = 0
anomaly_desired_count = 0

allowed_web_cidrs    = ["0.0.0.0/0"]
deletion_protection  = true
tls_certificate_arn  = ""